.useButton {
    @apply -z-40 btn bg-[#197685] rounded-md text-white w-[80%] absolute bottom-20 right-0  
}

.resumeContents:hover .useButton {
    z-index: 0;
    transform: translate(-12%);
    transition: transform 0.9s ;
    
}