.container {
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
  }

  .breadcrumb-wrap {
    background-color: #394d6b;
    color: #fff;
    font-size: 1rem;
    line-height: 2.4rem;
    min-height: 45px;
    display: flex;
    align-items: center;
   
  }
  
  .breadcrumbs {
    width: 1170px;
    margin: 0 auto;
    padding: 12px 15px;
  }
  
  .curve {
    background: #092347;
    position: relative;
    border-radius: 0 0 0 110px;
    color: #fff;
  }
  .redus {
    border-radius: 50px 0;
  }

 

  .container-xs .container {
      max-width: 750px;
  }
  @media (min-width: 1200px){
      .container {
            width: 1170px;
        }
  }
  
 


@media only screen and (max-width: 991px){
      .curve {
            border-radius: 0 0 0 50px;
        }
        
}


  .container-xs .editor-content {
      max-width: 750px;
      margin: 0 auto;
  }
  