.banner-section{
    background-image: url("https://i.ibb.co/xskFFcZ/Hexagon-dotted-connect-line-background-removebg-preview.png");
    background-size: contain; 
    background-position: center;
    padding: 20px;
    /* height: 100%; */
}
.rotating-images {
    display: flex;
    overflow: hidden;
    max-width: 100%; 
    margin: 0 auto;
}

.rotating-images img {
    width: 100%;
    height: 100%;
    animation: rotateImages 10s infinite linear;
}

@keyframes rotateImages {
    0% {
        transform: translateX(0%);
    }
    33% {
        transform: translateX(-100%);
    }
    66% {
        transform: translateX(100%);
    }
    100% {
        transform: translateY(0%);
    }
}
