
/* nav bar style */
.navBar{
   @apply bg-white sticky top-0 p-4 z-10 w-full shadow-md
}

/* navigation route style {Link tag} */
.navStyle {
    @apply text-lg font-semibold p-2 hover:text-[#197685];
  }

/* active route style */
.navActive {
    @apply text-lg font-semibold  p-2 rounded-2xl shadow-lg;
  }


 /* mobile menu style */
  .mobile-menu {
    position: fixed;
    top: 0;
    left: -100%; 
    width: 250px; 
    height: 100vh; 
    padding: 50px 20px 50px;
    background-color: white; 
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
    transition:  0.3s ease-in-out;
  }

  /* .mobile-menu{
    @apply fixed top-0 left-[-100%] w-60 h-screen p-12 bg-white shadow-md transition  ease-in-out
  } */
  
  .mobile-menu-open {
    left: 0; 
    transition: 0.3s ease-in-out;
  }

  /* dropdown style */
  .navDropdown{
   @apply hidden md:absolute top-12 right-0 rounded-l text-black bg-white shadow-md px-4 py-2 transition  z-10
  }

  .navStyle:hover .navDropdown {
    display: block; 
  }

  .navDropdown li {
    white-space: nowrap;
  }

  