
/* nav bar style */
.navBar{
   @apply bg-white sticky top-0 py-4 md:py-1 z-10 w-full shadow-md uppercase;
}

/* navigation route style {Link tag} */
.navStyle {
    @apply text-xs font-bold lg:text-base lg:font-medium  p-2 lg:px-4 my-4 hover:text-[#197685] ;
  }
  

/* active route style */
.navActive {
    @apply text-lg font-semibold  p-2 rounded-2xl shadow-lg;
  }
  

 /* mobile menu style */
  .mobile-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%; 
    height: 100vh; 
    padding: 50px 20px 50px;
    background-color: #000000ed; 
    color: rgba(226, 224, 224, 0.945);
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
    transition:  0.3s ease-in-out;
  }

  /* .mobile-menu{
    @apply fixed top-0 left-[-100%] w-60 h-screen p-12 bg-white shadow-md transition  ease-in-out
  } */
  
  .mobile-menu-open {
    left: 0; 
    transition: 0.3s ease-in-out;
  }

  /* dropdown style */
  .navDropdown{
   @apply hidden md:absolute top-9 right-0 rounded-l text-black bg-white shadow-md px-4 py-1 transition  z-10
  }

  .navStyle:hover .navDropdown {
    display: block; 
  }

  .navDropdown li {
    white-space: nowrap;
  }

  